<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SansTranslate.android.sanskrit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode = "1"
        android:versionName = "1">

        <activity android:name="com.SansTranslate.android.sanskrit.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.NumbersActivity"
            android:label="@string/category_numbers"
                    android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity" >
                    <!-- Parent activity meta-data to support 4.0 and lower -->
                    <meta-data
                        android:name="android.support.PARENT_ACTIVITY"
                        android:value="com.SansTranslate.android.sanskrit.MainActivity" />
                </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.PhrasesActivity" android:label="@string/category_phrases"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.FamilyActivity" android:label="@string/category_family"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.ColorsActivity" android:label="@string/category_colors"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.TempleActivity" android:label="@string/category_temple"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.TEMPLE_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.SchoolActivity" android:label="@string/category_school"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.SCHOOL_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.SportsActivity" android:label="@string/category_sports"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.SPORTS_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.TimeActivity" android:label="@string/category_time"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.TIME_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.SkyActivity" android:label="@string/category_sky"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.SKY_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.WaterActivity" android:label="@string/category_water"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.WATER_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.TreeActivity" android:label="@string/category_tree"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.TREE_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.FlowerActivity" android:label="@string/category_flower"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.FLOWER_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>
        <activity android:name="com.SansTranslate.android.sanskrit.TestActivity" android:label="Game Quiz"
            android:parentActivityName="com.SansTranslate.android.sanskrit.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.TEST_ACTIVITY"
                android:value="com.SansTranslate.android.sanskrit.MainActivity"/>
        </activity>

    </application>

</manifest>